.header_inner {
  display: flex;
  position: relative;
  justify-content: center;
}
.card {
  width: 600px;
  position: absolute;
}
.card-header {
  padding: 20px;
  background: rgb(42, 40, 49);
  transform: translateY(100px);
  position: relative;
  z-index: 1;
  border-radius: 10px;
  transition: all 0.5s ease;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: rgb(250, 249, 249);
  height: 280px;
}

.card:hover .card-header {
  border-radius: 10px 10px 0 0;
  transform: translateY(0px);
}

.card-header img {
  border-radius: 50%;
  width: 170px;
  box-shadow: 0 0 150px rgba(235, 214, 214, 0.9);
  padding: 7px;
}

.cart-content {
  background-color: rgb(221, 231, 231);
  padding: 20px;
  transform: translateY(-100px);
  border-radius: 0 0 10px 10px;
  transition: transform 0.5s ease;
  text-align: center;
}

.card:hover .cart-content {
  transform: translateY(0px);
}

.card-header a {
  color: rgb(247, 202, 202);
  padding: 10px;
}
a:hover {
  color: rgb(203, 121, 207);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 255, 213);
  background-color: transparent;
  text-decoration: underline;
}
#text-cart {
  font-family: "Comfortaa", cursive;
}
